<a href="https://colab.research.google.com/github/veenussudarsan/pythonbasics/blob/main/Copy_of_Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def fun_name():
  print("Hello world")
fun_name()

Hello world

In [ ]:
def fun_name():
  print("Fifa World Cup 2022")
fun_name()

Fifa World Cup 2022

In [ ]:
def fun_name():
  x=input("Enter your first name")
  y=input("Enter your middle name")
  z=input("Enter your last name")
  print(x,y,z)
fun_name()

Enter your first nameHarry
Enter your middle nameEdward
Enter your last nameStyles
Harry Edward Styles

In [ ]:
def fun_name():
  x=input("Enter your first name")
  y=input("Enter your middle name")
  z=input("Enter your last name")
  print(z,x,y)
fun_name()

Enter your first nameHarry
Enter your middle nameEdward
Enter your last nameStyles
Styles Harry Edward

In [ ]:
def fun_name(country = "Norway"):
  print("I am from " + country)

fun_name("Sweden")
fun_name("India")
fun_name()
fun_name("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
def fun_name(x):
  for y in x:
    print(y)

k=["John","Adam","Mathew"]

fun_name(k)

John
Adam
Mathew

In [ ]:
def fun_name(x):
  return 5 * x


print(fun_name(3))
print(fun_name(5))
print(fun_name(9))

15
25
45

In [ ]:
def fact(n):
  if n <= 1:
    return n
  else:
    return(fact(n-1) * n)
print(fact(10))

3628800

In [ ]:
def funx():
  x=10
  print("Value inside function:",x)

x=20