<a href="https://colab.research.google.com/github/veenussudarsan/pythonbasics/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=str(input("enter passengers travel source"))
y=str(input("enter travel destination"))
z=int(input("enter number of passengers"))
print(x)
print(y)
print(z)

enter passengers travel sourceJaipur
enter travel destinationKerala
enter number of passengers88
Jaipur
Kerala
88

In [5]:
x=int(input("enter total ticket fare"))
y=int(input("enter total number of passengers"))
z=x/y
print("enter ticket fare per person",z)

enter total ticket fare4000
enter total number of passengers40
enter ticket fare per person 100.0

In [6]:
x=str(input("enter passengers name:"))
z=int(input("enter ticket fare:"))
print(x,"-",z)

enter passengers name:Atlas
enter ticket fare:100
Atlas - 100

In [7]:
x=int(input("enter total ticket fare:"))
if x>10000:
  print("eligible for discount")
else:
  print("no discount")

enter total ticket fare:18888
eligible for discount

In [8]:
x=int(input("enter total ticket fare:"))
if x>15000:
  print("eligible for 20% discount")
else:
  print("eligible for 10% discount")

enter total ticket fare:12800
eligible for 10% discount

In [9]:
x=int(input("enter total ticket fare:"))
if x>15000:
  print(x*20/100)
elif x>=10000 and x<15000:
  print(x*10/100)
else:
  print(x*5/100)

enter total ticket fare:18000
3600.0

In [10]:
x=int(input("enter a number:"))
if x>0:
  print(x,"is a positive number")
elif x<0:
  print(x,"is a negative number")
else:
  print(x,"is zero")

enter a number:-80
-80 is a negative number

In [11]:
x=int(input("enter age of the passenger:"))
if x>18:
  print(x,"-Adult")
elif x>=13 and x<=18:
  print(x,"-Teenager")
elif x>=6 and x>=12:
  print(x,"-Kid")
elif x>=2 and x<=5:
  print(x,"-Toddler")
else:
  print(x,"-Infant")

enter age of the passenger:5
5 -Toddler

In [14]:
 x=str(input("enter the initials:"))
 if x=="A":
    print("It is a vowel")
 elif x=="E":
    print("It is a vowel")
 elif x=="I":
    print("It is a vowel")
 elif x=="O":
    print("It is a vowel")
 elif x=="U":
    print("It is a vowel")
 else:
    print("It is NOT a vowel")

enter the initials:v
It is NOT a vowel

In [15]:
x=input("enter passengers name:")
for a in x:
  print(a)

enter passengers name:Harry Styles
H
a
r
r
y

S
t
y
l
e
s

In [16]:
for a in range(45,88,2):
  print(a)

45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87

In [17]:
k=0
for a in range(1,6):
  k=a+k
  print(a,"   ",k)

1     1
2     3
3     6
4     10
5     15