<a href="https://colab.research.google.com/github/veenussudarsan/pythonbasics/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
def Veenus():
  print("Hello World I am Veenus Sudarsan and I am obsessed with Taylor Swift")

In [4]:
Veenus()

Hello World I am Veenus Sudarsan and I am obsessed with Taylor Swift

In [6]:
def Veenus(x,y):
  z=x+y
  print("Result = ",z)

In [7]:
Veenus(5,6)

Result =  11

In [8]:
def Veenus(x,y):
  z=x-y
  return z

In [9]:
Veenus(10,5)

5

In [10]:
def Veenus(x,y):
  z=x*y
  return z

In [11]:
Veenus(8,10)

80

In [20]:
def Harry(salary):
  if salary>800000:
    print("I am rich")
  if salary<800000:
    print("I am broke")

In [21]:
x=int(input("enter your salary -"))
Harry(x)

enter your salary -100000000
I am rich

In [27]:
def Niall(y):
  k=0
  for a in range(y):
    k=k+a
  print(k)
x=int(input("Enter a number"))
Niall(x)

Enter a number10
45

In [28]:
def add(x,y):
  print(x+y)
def sub(x,y):
  print(x-y)
def mul(x,y):
  print(x*y)
def div(x,y):
  print(x/y)

In [29]:
x=int(input("Enter the first number"))
y=int(input("Enter the second number"))
add(x,y)

Enter the first number40
Enter the second number60
100

In [30]:
x=int(input("Enter the first number"))
y=int(input("Enter the second number"))
sub(x,y)

Enter the first number25
Enter the second number10
15

In [31]:
x=int(input("Enter the first number"))
y=int(input("Enter the second number"))
mul(x,y)

Enter the first number100
Enter the second number20
2000

In [32]:
x=int(input("Enter the first number"))
y=int(input("Enter the second number"))
div(x,y)

Enter the first number60
Enter the second number15
4.0